$main-50: #e8f4f9;
$main-100: #d9dee9;
$main-200: #b7c2da;
$main-300: #6482c0;
$main-400: #4267b2;
$main-500: #385898;
$main-600: #314e89;
$main-700: #29487d;
$main-800: #223b67;
$main-900: #1e355b;

$red-50: #fff5f5;
$red-100: #fed7d7;
$red-200: #feb2b2;
$red-300: #fc8181;
$red-400: #f56565;
$red-500: #e53e3e;
$red-600: #c53030;
$red-700: #9b2c2c;

$green-50: #f0fff4;
$green-100: #c6f6d5;
$green-200: #9ae6b4;
$green-300: #68d391;
$green-400: #48bb78;
$green-500: #38a169;
$green-600: #2f855a;
$green-700: #276749;
$green-800: #22543d;
$green-900: #1c4532;
